<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Jubileu Respresentação Comercial</title>

	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&display=swap" rel="stylesheet">
</head>


<body>
	<header>
	<div class="caixa">
		<h1><img src="./logo.png"></h1>
			<h1 class="titulo-principal">Repex - Representante Expresso</h1>
			<nav class="menu-principal">
				<ul>
					<li><a href="index">Home</a></li>
					<li><a href="incluir-industria">Incluir industria</a></li>
					
				</ul>
			</nav>
	</div>
	</header>

	<main>
		<h2>Industria</h2>
		<section class="incluir-industria">
		<h2 class="subtitulo">Incluir industria</h2>
			<form action = "/listar-industria" method="POST" id="form-incluir-industria">
			<div class="novo-cadastro">
				<label for="id">CNPJ</label>
				<input type="text" id="id" onkeyup="mascaraCnpj('##.###.###/####-##',this)" name="id" pattern="\d{2}\.\d{3}\.\d{3}\/\d{4}-\d{2}" placeholder="##.###.###/####-##" class="campo" required>
			</div>
			<div class="novo-cadastro">
				<label for="ie">Inscrição Estadual</label>
				<input type="text" id="ie" name="ie" placeholder="Digite a Inscrição Estadual com apenas os números sem pontos e traços" class="campo">
			</div>

			<div class="novo-cadastro">
				<label for="razao-social">Razão Social</label>
				<input type="text" id="razao-social" name="razao-social" placeholder="Digite a Razão Social do industria" class="campo" required>
			</div>
			<div class="novo-cadastro">
				<label for="cep">CEP</label>
				<input type="text" id="cep" name="cep" placeholder="EX: 30850-050" class="campo">
			</div>

			<div class="novo-cadastro">
				<label for="logradouro">Rua</label>
				<input type="text" id="logradouro" name="logradouro" placeholder="Digite rua ou avenida" class="campo">
			</div>
			<div class="novo-cadastro">
				<label for="numero-endereco">Número</label>
				<input type="text" id="numero-endereco" name="numero-endereco" placeholder="Digite o número" class="campo">
			</div>
			<div class="novo-cadastro">
				<label for="complemento-endereco">Complemento</label>
				<input type="text" id="complemento-endereco" name="complemento-endereco" placeholder="Digite complento: apartamento, bloco, casa, etc" class="campo">
			</div>
			<div class="novo-cadastro">
				<label for="bairro">Bairro</label>
				<input type="text" id="bairro" name="bairro" placeholder="Digite o bairro" class="campo">
			</div>
			<div class="novo-cadastro">
				<label for="rua">Cidade</label>
				<input type="text" id="localidade" name="localidade" placeholder="Digite a cidade" class="campo">
			</div>			
			<div class="novo-cadastro">
				<label for="uf">UF</label>
				<input type="text" id="uf" name="uf" placeholder="Digite o estado" class="campo">
			</div>			
			
			<div class="novo-cadastro">
				<label for="email_contato">E-mail de contato</label>
				<input type="email_contato" id="email_contato" name="email_contato" placeholder="seuemail@dominio.com.br" class="campo" required>
			</div>
			<div class="novo-cadastro">
				<label for="email_xml">E-mail de xml</label>
				<input type="email_xml" id="email_xml" name="email_xml" placeholder="seuemail@dominio.com.br" class="campo" required>
			</div>
			
			<div class="novo-cadastro">
				<label for="telefone1">Telefone</label>
				<input type="tel" id="telefone1" onkeyup="mascaraTelefone('(##) #### ####',this)" name="telefone1" pattern="\(\d{2}\).\d{4,5}.\d{4,}" placeholder="(##) ####-####" class="campo" required>
			</div>
			<div class="novo-cadastro">
				<label for="telefone2">Telefone celular  </label>
				<input type="tel" id="telefone2" onkeyup="mascaraTelefone('(##) #### ####',this)" name="telefone2" pattern="\(\d{2}\).\d{4,5}.\d{4,}" placeholder="(##) #####-####" class="campo">
			</div>
			<div class="novo-cadastro">
				<label for="comissao">Comissão de vendas</label>
				<input type="number" id="comissao" name="comissao" placeholder="Digite a comissão paga pela industria" class="campo" required>
			</div>
			<button type="submit" id="adicionar" class="botão-adicionar">Incluir</button>



		</form>
	</section>		


	</main>

	<footer>
		<img src="./logo.png">	
		<p class="copyright">&copy; Copyright Jubileu Alimentos</p>
	</footer>
	
    <script src="/validacao.js"></script>

</body>
</html>