<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Jubileu Respresentação Comercial</title>

	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&display=swap" rel="stylesheet">
</head>


<body>
	<header>
	<div class="caixa">
		<img src="./logo.png">
		
		<h1 class="titulo-principal">Repex - Representante Expresso</h1>
		<nav class="menu-principal">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="clientestelaprincipal">Clientes</a></li>
				<li><a href="produtosTelaPrincipal">Produtos</a></li>
				<li><a href="Pedidos">Pedidos</a></li>
				<li><a href="industriaTelaPrincipal">Industria</a></li>
				<li><a href="vendedoresTelaPrincipal">Vendedores</a></li>
			</ul>
		</nav>
	</div>
	</header>

	<main>
		

	</main>

	<footer>
		<img src="./logo.png">	
		<p class="copyright">&copy; Copyright Jubileu Alimentos</p>
		
	</footer>
		

</body>
</html>