<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Jubileu Respresentação Comercial</title>

	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="reset.css">
	<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&display=swap" rel="stylesheet">
	
	
</head>

<body>
	
	
			{{{body}}}
	
</body>
</html>